.movie-content img{
    width:100%;
}


.timeline-wrapper{
    padding-bottom:0px;
}
.reactions-wrapper{
    width:100%;

    height:40px;
    position: relative;
    margin-top:100px;
    /* margin-bottom:50px; */
}
button{
    margin-top:50px;
}
.timeline-emoji{
    position: absolute;
    height:40px;
    top:0;
    left:0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

ul.emojilist{
    padding:0;
    margin:0;
    width:100%;
    overflow: auto;
    position: relative;
    list-style: none;
    text-align: center;
    margin:0 auto;
    height:120px;
}
ul.emojilist:before{
    content:'';
    position: absolute;
    background-color:#0019af;
    height:30px;
    left:20%;
    right:20%;
    bottom:20px;
    border-radius: 30px 30px 5px 5px;
}
.emojilist > li{
    float:none;
    display:inline-block;
    position: relative;
    width:80px;
    height:100px;

}
.emojilist > li > img{
    
    position: absolute;
    bottom:0;
    width:100%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    /* border:3px solid #0019af;
    border-radius: 50px; */
}
.emojilist > li img:before{
    content:'';
    position: absolute;
    display:block;
    /* top:0;
    left:0;
    right:0;
    bottom:0; */
    width:10px;
    height:10px;
    border-radius:50px;
    background-color:#0019af;
    z-index: -1;
    /* transform: translate(-50%, -50%); */

}
.emojilist > li > img:hover{
    width:130%;
}
